*{
	margin: 0;
	padding: 0;
}

body {
	background: #e0f2f1  ;
	font-family: Verdana;
}

header, .main, footer{
	width: 90%;
	margin: 20px auto;
}

header nav{
	background: #0d47a1 ;
	overflow: hidden;
}



header div img{
	width: 100%;
	height: 400px;
	padding: 10px;

}

.titulos{
	display: block;
	color: black;
	width: 50%;
}

.nombre{
	padding: 30px;
	padding-top: 0px;

}

.info{
	padding: 30px;
	padding-top: 0px;
	font-size: 20px;
}

.block{
	background: #0d47a1;
	margin: 20px;
}

.block:hover{
	background: #82b1ff;
}

header nav ul{

	list-style: none;
}

header nav ul li{
	float: left;
}

header nav ul li a{
	padding: 10px 20px;
	display: block;
	color: white;
	text-decoration:none;

}

header nav ul li a:hover{
	background: #82b1ff ;
}

.main .articles{
	width: 68.5%;
	float: right;
	margin-left:1.5%; 
	

}

.main .articles article{
	padding: 20px;
	background:#0d47a1;
	margin-bottom:20px; 

}

.Sub{
	font-size:35px;
}

aside {
	width: 30%;
	height: 100%;
	background:#1565c0 ;
	float: left;
	padding-bottom:20px; 
	box-sizing:border-box; 

}

aside ul{

	list-style: none;

}


aside ul li a{

	display: block;
	padding: 30px;
	color: white;
	text-decoration:none;
}

footer{
	background: black;
	color: white;
	clear:both;
	padding: 10px 0px;
	text-align: center;
}

